
<H4>Process Details</H4>
<div ui-grid="row.entity.subGridOptions" ui-grid-auto-resize style="height: 140px; width: 100%"></div>
<!-- <H4>Trend Chart</H4> -->
<canvas id="line" class="chart chart-line" data="row.entity.trend.data"
  labels="row.entity.trend.labels" legend="true" series="row.entity.trend.series" options="row.entity.trend.options" style="height: 400px; width: 100%"
  click="onClick">
</canvas>


<!-- <ui-chart="row.entity.trend.chartdata" chart-options="row.entity.trend.chartoptions"></ui-chart> -->