<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title">Change Password</h4>
</div>

<div class="modal-body">
    <div class="alert alert-danger" ng-show="httpError">
        Server or network errors. Please try again later.
    </div>
    <div class="alert alert-danger" ng-show="serverErrors!=null">
        <ul> <li ng-repeat="e in serverErrors">{{ e }}</li> </ul>
    </div>
    <div class="alert alert-success" ng-show="success">
        Your password has been changed successfully!
    </div>
    <form class="form" name="passwordForm" ng-submit="changePassword()" novalidate>
        <div class="form-group" ng-class="{
            'has-error': passwordForm.currentPassword.$invalid && passwordForm.currentPassword.$dirty,
			'has-success': passwordForm.currentPassword.$valid && passwordForm.currentPassword.$dirty }">
            <label for="currentPassword">Password</label>
            <input type="password" name="currentPassword" class="form-control"
                placeholder="Your current password" ng-model="passCombo.currentPassword"
                ng-minlength="8" ng-maxlength="64" ico-focus required />
            <p class="help-block"
                ng-show="passwordForm.currentPassword.$invalid
                    && passwordForm.currentPassword.$dirty
                    && !passwordForm.currentPassword.$focused">
                {{ 'err.password' | translate }}
            </p>
        </div>
        <div class="form-group" ng-class="{
            'has-error': passwordForm.newPassword.$invalid && passwordForm.newPassword.$dirty,
			'has-success': passwordForm.newPassword.$valid && passwordForm.newPassword.$dirty }">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" class="form-control"
                placeholder="Your new password" ng-model="passCombo.newPassword"
                ng-minlength="8" ng-maxlength="64" ico-focus required />
            <p class="help-block"
                ng-show="passwordForm.newPassword.$invalid
                    && passwordForm.newPassword.$dirty
                    && !passwordForm.newPassword.$focused">
                {{ 'err.password' | translate }}
            </p>
        </div>
        <div class="form-group" ng-class="{
            'has-error': passwordForm.newPasswordConfirm.$invalid && passwordForm.newPasswordConfirm.$dirty,
			'has-success': passwordForm.newPasswordConfirm.$valid && passwordForm.newPasswordConfirm.$dirty }">
            <label for="newPasswordConfirm">Confirm New Password</label>
            <input type="password" name="newPasswordConfirm" class="form-control"
                placeholder="Type your new password again" ng-model="passCombo.newPasswordConfirm"
                ng-minlength="8" ng-maxlength="64" ico-focus required />
            <p class="help-block"
                ng-show="passwordForm.newPasswordConfirm.$invalid
                    && passwordForm.newPasswordConfirm.$dirty
                    && !passwordForm.newPasswordConfirm.$focused">
                {{ 'err.password' | translate }}
            </p>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="submitting" ng-switch="submitting">
                <span ng-switch-default>Change Password</span>
                <span ng-switch-when="true">Submitting...</span>
            </button>
        </div>
    </form>
</div>

